{% extends 'llayout.html' %}

{% block title %}택배 예약 조회{% endblock title %}

{% block contents %}
<style>
    .reservation-info {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
        margin-bottom: 10px;
    }

    .reservation-info h3 {
        margin-bottom: 15px;
    }

    .reservation-info p {
        margin: 10px 0;
    }

    .btn-container {
        margin-top: 20px;
        display: flex;
        justify-content: center; /* 가운데 정렬 */
    }

    .btn-container a {
        width: 200px; /* 버튼 크기 고정 */
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        background-color: #007bff;
        color: white;
        font-weight: bold;
    }

    .btn-container a:hover {
        background-color: #0056b3;
    }

</style>

<div class="container">
    <h2>택배 예약 내역</h2>
    {% if reservations %}
    
        <div class="reservation-info">
            <p>출발 지점: {{ reservations.start_location.city }} {{ reservations.start_location.district }}</p>
            <p>출발 보관함 번호: {{ reservations.start_locker.locker_number }}</p>
            <p>출발 시간: {{ reservations.start_datetime }}</p>
            <p>도착 지점: {{ reservations.end_location.city }} {{ reservations.end_location.district }}</p>
            <p>도착 보관함 번호: {{ reservations.end_locker.locker_number }}</p>
            <p>도착 시간: {{ reservations.end_datetime }}</p>
        </div>
    
    {% else %}
        <p>예약된 정보가 없습니다.</p>
    {% endif %}
</div>

<div class="btn-container">
    <a href="{% url 'loginhome' %}">홈으로 돌아가기</a>
</div>
{% endblock contents %}
