[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/myenv/bin/uwsgi -i /home/ubuntu/DA35-Final-Minions-LOCKERs/Lockers/.config/uwsgi/config.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target